@font-face {
    font-family: "Quicksand-Regular";
    src: url("../font/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("../font/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Asap-Regular";
    src: url("../font/Asap-Regular.ttf");
}

@font-face {
    font-family: "Asap-Bold";
    src: url("../font/Asap-Bold.ttf");
}

.font-quicksand{
    font-family: 'Quicksand-Regular', sans-serif;
}

.font-asap {
    font-family: 'Asap-Regular', sans-serif;
}

.bold {
    font-weight: bold;
}


