input::placeholder{
    font-family: Asap-Bold;
}

.form-control {
    border-width: 0 0 2px 0;
    border-color: #ebebeb;
    border-style: solid;
}

.form-control:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #df161e;
    border-style: solid;
}

.btn-primary {
    padding-bottom: 8px;
    padding-top: 8px;
    color: #fff;
    border-color: #df161e;
    box-shadow: 0px 5px 10px rgba(248, 95, 106, 0.23);
    background: #df161e;
}
